#boards::before {
  display: block;
  content: " ";
  margin-top: -9vh;
  height: 9vh;
  visibility: hidden;
  pointer-events: none;
}

.boards-container {
  /* background-image: url("https://www.desktopbackground.org/download/2560x1440/2015/12/23/1062154_top-hd-chalk-board-wallpapers_3600x3600_h.jpg"); */
  background-color: white;
  background-size: cover;
  background-position-x: 0%;
  padding-top: 90px;
  padding-bottom: 30px;
}

.surfboards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(230, 230, 230);
}
