#boards::before {
  display: block;
  content: " ";
  margin-top: -9vh;
  height: 9vh;
  visibility: hidden;
  pointer-events: none;
}

.boards-container {
  background-color: #f2f2f2;
  margin: 0 50px;
  /* margin-top: 6.38rem;
  margin-bottom: 6.38rem; */
  /* position: relative; */
}

.longboards {
  /* border: solid black 1px; */
}
