* body {
  background-color: #f2f2f2;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* #mission::before {
  display: block;
  content: " ";
  margin-top: -9vh;
  height: 9vh;
  visibility: hidden;
  pointer-events: none;
} */

.m-container {
  margin-top: 6.38rem;
  margin-bottom: 6.38rem;
  background-image: url("./../../assets/e-mission.jpg");
  /* -webkit-filter: grayscale(100%);
      filter: grayscale(100%); */
  background-size: cover;
  padding-top: 9vh;
  height: 102vh;
  width: auto;
  /* position: relative; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-top: -30vh; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
}

.m-box {
  /* position: absolute; */
  display: block;
  width: 480px;
  /* top: 450px;
  left: 730px; */
  margin-right: 70px;
  /* height: 242px; */
}

.m-box h1 {
  color: #222222;
  text-align: left;
  font-size: 33px;
  font-weight: 700;
  line-height: 1.06;
  text-transform: uppercase;
  letter-spacing: -1px;
  width: 100%;
}

.m-box hr {
  border: 0;
  background: #f44805;
  margin-left: 0;
  margin-right: 0;
  height: 0.38rem;
  width: 2.5rem;
  margin-top: 15px;
  border-radius: 1px;
}

.m-box p {
  color: #222222;
  text-align: left;
  font-weight: 400;
  line-height: 1.55;
  width: 100%;
  /* margin-top: 10px; */
}

/* .mission-container {
  margin-top: 6.38rem;
  margin-bottom: 6.38rem;
  overflow: hidden;
  position: relative;
}

.img {
  max-width: 100%;
  align-self: center;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 600ms ease 0s;
}

.infoBox h1 {
  color: #222222;
  text-align: left;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.06;
  text-transform: uppercase;
  letter-spacing: -0.42px;
  width: 100%;
} */
