#video::before {
  display: block;
  content: " ";
  margin-top: -9vh;
  height: 9vh;
  visibility: hidden;
  pointer-events: none;
}

.v-container {
  background-color: #f2f2f2;
  margin-top: 6.38rem;
  margin-bottom: 6.38rem;
  position: relative;
}

.vc-1 {
  height: 100%;
  width: auto;
  position: relative;
  /* background-color: purple; */
}

.v-text {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.vt-box {
  width: 100vw;
  /* height: 100vh; */
}

.vt-box h1 {
  font-weight: 800;
  /* text-transform: uppercase; */
  font-size: 6vw;
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

.v-box {
  position: relative;
  clip-path: polygon(0% 8%, 100% 0%, 100% 92%, 0% 100%);
  overflow: hidden;
}
